<!doctype html>

<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/accueil.css') }}">

<head>
  <title>PAGE D'ACCUEIL</title>
</head>

<body>

  <p>Bienvenue sur le site de réservation en ligne de la rotonde</p>


  <form action="" method="POST">
    <p> accéder au panier </p>
    <button name="bouton" value="panier" type="submit">PANIER</button>

    <p> accéder au calendrer </p>
    <button name="bouton" value="calendrier" type="submit">CALENDRIER</button>

    <p> section admin </p>
    <button name="bouton" value="admin" type="submit">ADMIN</button>

    <p> liste shows </p>

    <ul style="list-style-type:none">
      {% for name in names %}
      <li>{{name}}</li>
      {% endfor %}
      <li>oh Hai Mark</li>
    </ul>
  </form>

</body>

</html>
