<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>PAGE D'ACCUEIL</title>
</head>

<body>

  <p>Vous êtes sur le super accueil </p>

  <form action="" method="POST">
    <p> Aimez-vous les fraises ?</p>
    <button name="panier" value="panier" type="submit">PANIER</button>
    <p> Aimez-vous les oranges ?</p>
    <button name="calendrier" value="calendrier" type="submit">CALENDRIER</button>
    <p> Aimez-vous les pamplemousses ?</p>
    <button name="admin" value="admin" type="submit">ADMIN</button>
    <p>Aimez-vous les ananas ?</p>
    <button name="spectacle" value="spectacle" type="submit">SPECTACLE</button>
    <ul style="list-style-type:none">
      {% for name in names %}
      <li>{{name}}</li>
      {% endfor %}
    </ul>
  </form>

</body>

</html>
