{% extends "layout.html" %}
{% set active_page = 'accueil' %}
{% block title %}Accueil{% endblock %}


{% block content %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Liste des spectacles</h1>
        <p class="lead text-muted">Voici la liste des spectacles joués en ce moment à la Rotonde, pour voir les spectacles joués par jour allez dans Calendrier ! Cliquez sur un spectacle pour plus d'informations ou pour réserver des places.</p>
      </div>
    </section>

    <div class="container-fluid">
      <div class="card-columns">
        {%for spectacle in spectacles%}

        {%if spectacle.dates[-1].date> spectacle.dates[-1].date.now()%}
            <div class="card mb-4">
              <a href="/spectacle/{{spectacle.nom}}">
                      <img class="card-img-top-pers" class="img-thumbnail"
                      {%if spectacle.photos != 0 %} src="{{spectacle.nom|mainPhoto}}" alt="{{spectacle.nom|mainPhoto}}"
                      {%else%}
                        src="static/uploads/placeholder/GrandeSalleTheatre.jpg"
                        alt="GrandeSalleTheatre.jpg"
                      {%endif%}
                      >
                      </a>
              <div class="card-body">
                <h5 class="card-title">{{spectacle.nom}} </h5>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/spectacle/{{spectacle.nom}}" class="btn btn-primary">Voir</a>
                     {%if session.pseudo == spectacle.admin or session.admin=="super"%}
                    <a href="/set_spectacle/{{spectacle.nom}}" class="btn btn-secondary">Edit</a>
                    {%endif%}
                  </div>
                  <small class="text-muted">{{spectacle.admin|upper}}</small>
                </div>

              </div>
            </div>
          {%endif%}
        {%endfor%}
      </div>
    </div>
  </main>
{% endblock %}
