{% extends "layout.html" %}
{% set active_page = 'admin_log' %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
      <div class="jumbotron">
        <form method="POST">
          <h1 class="form-signin-heading">Veuillez vous logger.</h1>
          <label for="inputLogin" class="sr-only">Login</label>
          <input type="text" id="inputLogin" name="login" class="form-control" placeholder="Login" required autofocus>
          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
