<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>PAGE ADMIN</title>
</head>

<body>
  <p><a href="/">Acceuil</a></p>
  <p>Bienvenue {{pseudo}} !  </p>

  <form action="" method="POST">
    <button name= "bouton" value="logout" type = "submit">LOGOUT</button><br></br>
    <button name= "bouton" value="create" type="submit">CREER</button>
    <button name= "bouton" value="showPlaces" type="submit">PLACES</button>
  </form>

</body>

</html>
