{% extends "layout.html" %}
{% set active_page = 'admin' %}
{% block title %}Administration{% endblock %}


{% block content %}
  <div class="container">
    <p>Bienvenue {{pseudo}} ! </p>

    <form action="" method="POST">
      <button name="bouton" value="logout" type="submit">LOGOUT</button><br></br>
      <button name="bouton" value="createspectacle" type="submit">CREER SPECTACLE</button>
      <button name="bouton" value="showPlaces" type="submit">PLACES</button>
      {%if type == "super"%}
      <button name="bouton" value="createadmin" type="submit">CREER ADMIN</button>
      <button name="bouton" value="adminlist" type="submit">LISTE DES ADMINS</button>
      {%endif%}
    </form>

  </div>
{% endblock %}
