<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <title>Ajout Valeur</title>
</head>

<body>

  <p>Now we add a value : </p>

  <form action="" method="POST">
      <p>Nom du spectacle</p>
      <input type="text" id="uname" name="name">
      <p>Nombre de tickets</p>
      <input type="number" id="uname" value="1">
      <p>Date</p>
      <input type="date" min="2017-09-14" max="2018-06-30" name="the_date">
      <p>valider</p>
      <button name="foo" value="valider" type="submit">Valider</button>
  </form>

  <p>Next Form for date<p>



</body>

</html>
