{% extends "layout.html" %}
{% set active_page = 'calendrier' %}
{% block title %}Calendrier{% endblock %}


{% block content %}
  <p>CALENDRIER </p>
  <form action="" method="POST">
    <ul>
      {%for date in dates %}
      <p>{{date.date}} {{date.nom}}</p>
      <p>Il reste {{date.placesRestantes}} places</p>
      <input type="number" id="places" name="{{date.date}}" min="0" max="{{date.placesRestantes}}"> </li>

      {% endfor %}
    </ul>
    <button name="foo" value="valider" type="submit">Ajouter au panier</button>
    <button name="foo" value="accueil" type="submit">Accueil</button>
  </form>
{% endblock %}
