{% extends "layout.html" %}
{% set active_page = 'contact' %}
{% block title %}Accueil{% endblock %}


{% block content %}


<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Où sommes-nous ?</h1>
      <p class="lead text-muted">Voici le plan pour vous menez jusqu'à nous ! Et si vous avez besoin de nous contacter et si vous avez des questions, envoyez nous un mail ;)</p>
    </div>
    <br>
    <br>
      <div id="rotondeMap" style="height:350px">
      </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <label for="adresse">Notre adresse postale :</label>
            <p id="adresse" name="adresse">CGR – Casier du BdE<br/>INSA de Lyon<br/>20 av. Albert Einstein<br/>69621 Villeurbanne Cedex</p>
        </div>
        <div class="col-lg-4">
          <label for="permanence">Horaires de permanence :</label>
          <p id="permanence" name="permanence">Lundi au vendredi de 12h15 à 13h45</p>
      </div>

        <div class="col-lg-4">
            <label for="coord">Coordonnées :</label>
            <p id="coord" name="coord">cgr.general@gmail.com<br/>04 72 43 88 44</p>
        </div>
      </div>
    </div>


    <script>
    function myMap() {
      var rotonde = {lat: 45.783844,lng: 4.874063};
      var mapOptions = {
        center: rotonde,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAPS
      }
      var mapObject = new google.maps.Map(document.getElementById("rotondeMap"), mapOptions);
      var marker = new google.maps.Marker({position: rotonde, map: mapObject});
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
  </section>
</main>
{% endblock %}
