<!DOCTYPE html>
<html lang="fr">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon"
      type="image/png"
      href="/static/assets/img/favicons/logoCGR.png" />

  <title>{% block title %}ROTONDE{% endblock %}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')
  </script>
  <!-- Bootstrap core CSS -->
  <link href="/static/boot4/css/bootstrap.css" rel="stylesheet">
  <link href="/static/styles/charte.css" rel="stylesheet">
  {% endblock %}
</head>

<body>
  <header>
    <!-- Fixed navbar -->

    <nav class="navbar navbar-expand d-flex bg-light navbar-light fixed-top ">
      <a class="navbar-brand" href="#"><img src="/static/styles/logo_insa.png" style="height: 40px;" alt="logo"></a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if active_page == 'accueil'%}active {% endif %}">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item {% if active_page == 'calendrier' %}active {% endif %}">
            <a class="nav-link" href="/calendrier">Calendrier</a>
          </li>
          <li class="nav-item {% if active_page == 'panier' %}active {% endif %}">
            <a class="nav-link" href="/panier">Panier</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item {% if active_page == 'admin' %}active {% endif %}">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>

      </div>
    </nav>
  </header>

  {% block content %}

  {% endblock %}

  <footer id="footer" class="footer" role="footer">
    {% block footer %}
    <div class="container">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6" style="line-height: initial;">
            <p>La Rotonde</p>
            <p>INSA Lyon</p>
            <p>20 Avenue des Arts</p>
            <p>69100 Villeurbanne</p>
          </div>
        </div>
      </div>
      <small class="copyright col-md-4"><p>Created in 2018</p>
        <p>By A. Flamant, M. Humbert, A. Navarro,
           P. Ripoll, J-N. Winter</p>
      </small>
  </div>
    {% endblock %}
  </footer>



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="/static/boot4/js/bootstrap.min.js"></script>
</body>

</html>
