<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cart</title>
</head>
<body>

  <table class="table table-striped">
      <tr>
        <th>Spectacle</th>
        <th>Nombre de places</th>
        <th>Date</th>

      {% for place in display_cart %}
      <tr>
        <td>{{place["nomSpectacle"]}}</td>
        <td>{{place["nombre"]}}</td>
        <td>{{place["date"]}}</td>
      </tr>
      {% endfor %}

  </table>
  <h3>Total: </h3>

  <form action="" method="POST">
      Veuillez rentrer votre nom:<br>
      <input type="text" name="nom"><br>
      <br>
      <button name="foo" value="valider" type="submit"}>Valider</button>

  </form>

  <a href="/empty_cart" class="btn btn-large btn-primary">Vider panier</a>
</body>
</html>
