{% extends "layout.html" %}
{% set active_page = 'panier' %}
{% block title %}Panier{% endblock %}


{% block content %}
  <div class="container">
    <form action="" method="POST">
      <table class="table table-striped">
        <tr>
          <th>Spectacle</th>
          <th>Date</th>
          <th>Places diponibles</th>
          <th>Vos places</th>

        </tr>
        {% for place in display_cart %}
        <tr>
          <td>{{place["nomSpectacle"]}}</td>
          <td>{{place["date"]}}</td>
          <td>{{place["left"]}}</td>
          <td><input type="number" method="POST" name=qte{{loop.index}} min="0" max="{{place['left']}}" value="{{place['qte']}}"></td>
        </tr>
        {% endfor %}

      </table>

      <h3>Valider la réservation: </h3> Nom:<br>
      <input type="text" name="nom"><br>
      Adresse mail:<br>
      <input type="text" name="mail"><br>
      <br>
      <button class="btn btn-primary" name="foo" value="valider" type="submit" }>Valider</button>
      <a href="/empty_cart" class="btn btn-large btn-primary">Vider panier</a>
    </form>


  </div>
{% endblock %}
