{% extends "layout.html" %}
{% set active_page = 'set_spectacle' %}

{% block head %}
  {{ super() }}

  <script>
  var i = 0

  function addNewContact() {
    var div = document.createElement("div");
    var inputName = document.createElement("INPUT");
    inputName.setAttribute("type", "text");
    inputName.setAttribute("id", "nomUser");
    inputName.setAttribute("class", "form-control");
    inputName.setAttribute("name", "nomUser");
    inputName.setAttribute("placeholder","Nom");

    div.appendChild(inputName);

    var inputPrenom = document.createElement("input");
    inputPrenom.setAttribute("type", "text");
    inputPrenom.setAttribute("id", "prenomUser");
    inputPrenom.setAttribute("class", "form-control");
    inputPrenom.setAttribute("name", "nomUser");
    inputPrenom.setAttribute("placeholder","Prenom");

    div.appendChild(inputPrenom);

    var telephone = document.createElement("input");
    telephone.setAttribute("type", "integer");
    telephone.setAttribute("id", "telephone");
    telephone.setAttribute("name", "telephone");
    telephone.setAttribute("placeholder","Numero de Telephone");

    div.appendChild(telephone);

    var adressemail = document.createElement("input");
    adressemail.setAttribute("type", "text");
    adressemail.setAttribute("id", "adressemail");
    adressemail.setAttribute("class", "form-control");
    adressemail.setAttribute("name", "adressemail");
    adressemail.setAttribute("placeholder","Adresse email");

    div.appendChild(adressemail);

    var annee = document.createElement("input");
    annee.setAttribute("type", "integer");
    annee.setAttribute("id", "annee");
    annee.setAttribute("name", "annee");
    annee.setAttribute("min","1954");
    annee.setAttribute("max","2100");
    annee.setAttribute("placeholder","Année");

    div.appendChild(annee);

    var depart = document.createElement("input");
    depart.setAttribute("type", "text");
    depart.setAttribute("id", "depart");
    depart.setAttribute("class", "form-control");
    depart.setAttribute("name", "depart");
    depart.setAttribute("placeholder","Departement");

    div.appendChild(depart);

    if (i == 0) {
      i=1
      document.getElementById("contact").appendChild(div);
      document.getElementById("addContactbutton").innerHTML = "Valider Contact";
    } else if (i == 1) {
      i=0
      document.getElementById("addContactbutton").innerHTML = "Ajouter Contact";
      document.getElementById("contact").innerHTML = "";
    }
  }
  </script>

  <script>
  var i = 0;
  function init(val) {
    i = val;
  }

  function addOneDate() {
    var lastDate = document.getElementById("datetime" + i.toString());
    var lastNPlaces = document.getElementById("nPlaces" + i.toString());

    var div = document.createElement("div");
    var inputDate = document.createElement("INPUT");
    inputDate.setAttribute("type", "datetime-local");
    i++;
    inputDate.setAttribute("name", "datetime" + i.toString());
    inputDate.setAttribute("id", "datetime" + i.toString());
    console.log(i);

    var br = document.createElement("br");

    div.appendChild(inputDate);

    var nPlace = document.createElement("input");
    nPlace.setAttribute("type", "number");
    nPlace.setAttribute("id", "nPlaces" + i.toString());
    nPlace.setAttribute("name", "nPlaces" + i.toString());
    nPlace.setAttribute("min", "0");
    nPlace.setAttribute("max", "500");

    if (lastDate) {
      inputDate.setAttribute("value", lastDate.value);
    }
    if (lastNPlaces) {
      nPlace.setAttribute("value", lastNPlaces.value);
    }

    div.appendChild(nPlace);

    document.getElementById("date-div").appendChild(br);
    document.getElementById("date-div").appendChild(div);
  }
  </script>

{% endblock %}

{% block title %}Modification spectacle{% endblock %}

{% block content %}
  <div class="container-fluid">
    <p>Bienvenue sur la page de modification/création de spectacle : </p>
    <p>{{spectacle.nom}}
      <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="nom du spectacle">Nom du spectacle:<abbr title="required"></abbr></label><br>
          <input type="text" id="nom" class="form-control" name="nom" value='{{spectacle.nom}}'><br>
        </div>
        <div class="form-group">
          <label for="resume">Résumé:</label><br>
          <textarea type="text" id="resume" row="4" class="form-control" name="resume" value='{{spectacle.resume}}' size=50></textarea>
        </div>
        <div class="form-group">
          <label for="photos">Photos:</label><br>
          <input type="file" class="form-control-file" name="photos" accept=".png, .jpg, .jpeg" multiple><br>
        </div>
        <div class="form-group">
          <label for="liens">Liens:</label><br>
          <input type="url" name="liens" class="form-control" value='{{spectacle.liens}}'><br>
        </div>
        <div>
          <p>Contacts : </p>
          <select>
            {%for contact in contacts:%}
            <option value="{{contact.nom}}">{{contact.nom}}</option>
            {%endfor%}
          </select>
          <button type="button" id="addContactbutton" onclick="addNewContact();" name="ajouterContact">Ajouter Contact</button>
          <br>
          <br>
          <div id="contact">
          </div>
        </div>
        <br>
        <div>
          <label for="dates">Dates :  </label>
          <button type="button" id="addDate" onclick="addOneDate()" name="addDate">Add</button><br>
          <script>
          console.log("TEST");
          var datesLength = {{ nDates}};
          init(datesLength);
          console.log("Number of dates already in:" + datesLength);
          </script>
          <div id="date-div">
            {%for date in dates:%}
            <div id="date{{loop.index}}">
              <input type="datetime-local" value="{{date.date}}" id="datetime{{loop.index}}" name="datetime{{loop.index}}">
              <input type="number" value="{{date.placesRestantes}}" id="nPlaces{{loop.index}}" name="nPlaces{{loop.index}}" min="0" max="500">
            </div>
            {%endfor%}
          </div>
        </div>

        <div>
          <br><br>
          <button name="foo" id="submit" value="valider" type="submit" }>Valider</button>

        </div>
      </form>
    </div>
{% endblock %}
