<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <title>MODIFIER SPECTACLE</title>

    <script >

        var i =0;

        function addOneDate(){
            var lastDate = document.getElementById("date"+i.toString())
            var inputDate = document.createElement("INPUT");
            inputDate.setAttribute("type","datetime-local");
            i++;
            inputDate.setAttribute("name","date"+i.toString());
            inputDate.setAttribute("id","date"+i.toString());
            console.log(i);
            console.log(lastDate.value);
            inputDate.setAttribute("value",lastDate.value);
            var br = document.createElement("br");
            inputDate.appendChild(br);

            document.getElementById("date-div").appendChild(inputDate);
        }
    </script>

</head>

<body>

  <p>Bienvenue sur la page de modification/création de spectacle : </p>
  <p>{{spectacle.nom}}
  <form action="" method="POST" enctype="multipart/form-data">
    <div>
      <label for="nom" >Nom du spectacle:<abbr title="required"></abbr></label><br>
      <input type="text" id="nom" name="nom" value='{{spectacle.nom}}'><br>
    </div>
    <div>
      <label for="resume">Résumé:</label><br>
      <input type="text" id="resume" name="resume"value='{{spectacle.resume}}' size=50><br>
    </div>
    <div>
      Photos:<br>
      <input type="file" name="photos" accept=".png, .jpg, .jpeg" multiple><br>
    </div>
    <div>
      Liens (Facebook, Instagram...):<br>
      <input type="url" name="liens" value='{{spectacle.liens}}'><br>
    </div>
      <br>
    <div>
      <label for="dates">Dates :  </label>
      <button type="button" id="addDate" onclick="addOneDate()" name="addDate">Add</button><br>
      <div id="date-div">
        <input type="datetime-local" id="date0" name="date0" >
        <input type="number" id="nPlaces0" name="nPlaces0" min="0" max="500"><br>
      </div>
    </div>

    <div>
      <br><br>
      <button name="foo" id="submit" value="valider" type="submit"}>Valider</button>
    </div>
  </form>

</body>

</html>
