{% extends "layout.html" %}
{% set active_page = 'set_spectacle' %}


{% block head %}

{{ super() }}
<!--<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>-->
<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/bower_components/moment/locale/fr.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="/static/jquery.guillotine.css" rel="stylesheet" type="text/css"/>

<!--<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="/static/bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />




<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/purify.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"type="text/javascript"></script>
<script src="/static/boot4/js/bootstrap.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js" type="text/javascript"></script>

<script src="/static/color-thief.js"type="text/javascript"></script>
<script src="/static/jquery.guillotine.min.js"type="text/javascript"></script>

<!-- optionally uncomment line below for loading your theme assets for a theme like Font Awesome (`fa`) -->
<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.min.js"></script -->

<script src="/static/color-thief.js"></script>
<script src="/static/jquery.guillotine.js"></script>
<script src="/static/jquery.guillotine.min.js"></script>
<link href="/static/styles/charte.css" rel="stylesheet">

<script>
    var contactAffiche = 0
    function addNewContact() {
      var div = document.createElement("div");
      var inputName = document.createElement("INPUT");
      inputName.setAttribute("type", "text");
      inputName.setAttribute("id", "nomUser");
      inputName.setAttribute("class", "form-control");
      inputName.setAttribute("name", "nomUser");
      inputName.setAttribute("placeholder","Nom");

      div.appendChild(inputName);

      var inputPrenom = document.createElement("input");
      inputPrenom.setAttribute("type", "text");
      inputPrenom.setAttribute("id", "prenomUser");
      inputPrenom.setAttribute("class", "form-control");
      inputPrenom.setAttribute("name", "prenomUser");
      inputPrenom.setAttribute("placeholder","Prenom");

      div.appendChild(inputPrenom);

      var telephone = document.createElement("input");
      telephone.setAttribute("type", "integer");
      telephone.setAttribute("id", "telephone");
      telephone.setAttribute("name", "telephone");
      telephone.setAttribute("placeholder","Numero de Telephone");

      div.appendChild(telephone);

      var adressemail = document.createElement("input");
      adressemail.setAttribute("type", "text");
      adressemail.setAttribute("id", "adressemail");
      adressemail.setAttribute("class", "form-control");
      adressemail.setAttribute("name", "adressemail");
      adressemail.setAttribute("placeholder","Adresse email");

      div.appendChild(adressemail);

      var annee = document.createElement("select");
      annee.id = "anneeSelect";
      annee.name="anneeSelect";

      for (var x = 0; x < 6; x++) {
          var option = document.createElement("option");
          option.value = x;
          option.text = x;
          annee.appendChild(option);
      }
      div.appendChild(annee);


      var depart = document.createElement("select");
      depart.id = "departSelect";
      depart.name="departSelect";

      departement = ["exterieur","Bioscience","GCU","GE","GEN","GI","GM","IF","PC","SGM","TC"];
      for (var x = 0; x < departement.length; x++) {
          var option = document.createElement("option");
          option.value = departement[x];
          option.text = departement[x];
          depart.appendChild(option);
      }
      div.appendChild(depart);

      var bouton = document.createElement("input");
      bouton.setAttribute("name", "boutonContact");
      bouton.setAttribute("id", "boutonContact");
      bouton.setAttribute("value", "Valider Contact");
      bouton.setAttribute("type","button");
      bouton.setAttribute("onclick","envoieContact()");

      div.appendChild(bouton);

      if (contactAffiche == 0) {
        contactAffiche=1
        document.getElementById("contact").appendChild(div);
        document.getElementById("addContactbutton").innerHTML = "Annuler Contact";
      } else if (contactAffiche == 1) {
        contactAffiche=0
        document.getElementById("addContactbutton").innerHTML = "Ajouter Contact";
        document.getElementById("contact").innerHTML = "";
      }
    }

    function envoieContact() {
      if($("#nomUser").val() == "") {
        var nomUser = "--";
      } else {
        var nomUser = $("#nomUser").val();
      }

      if($("#prenomUser").val() == "") {
        var prenomUser = "--";
      } else {
        var prenomUser = $("#prenomUser").val();
      }

      if($("#telephone").val() == "") {
        var tel = "0";
      } else {
        var tel = $("#telephone").val();
      }

      if($("#adressemail").val() == "") {
        var mail = " ";
      } else {
        var mail = $("#adressemail").val();
      }

      var anneeSelect = $("#anneeSelect").val();
      var departSelect = $("#departSelect").val();
      $.ajax({
        url: "/api/ajoutContact/"+nomUser+"/"+prenomUser+"/"+tel+"/"+mail+"/"+anneeSelect+"/"+departSelect,
        type: "POST",
        success: function(data) {
          var option = document.createElement("option");
          option.value = data.id;
          option.text = data.nom+" "+data.prenom+" "+data.an+data.dep;
          document.getElementById("ajoutContactDB").appendChild(option);
          addNewContact();
        },
        error: function() {

        }
      });
    }

    var i = 0;
    var datesLength = {{nDates}};
    init(datesLength);

    function init(val) {
      i = val;
    }

    function addOneDate() {
      if(i==0) {
          var boutonAnnule = document.createElement("input");
          boutonAnnule.setAttribute("name", "boutonAnnule");
          boutonAnnule.setAttribute("id", "boutonAnnule");
          boutonAnnule.setAttribute("value", "Effacer tout");
          boutonAnnule.setAttribute("type","button");
          boutonAnnule.setAttribute("onclick","removeOneDate(-1)");

          document.getElementById("annule").appendChild(boutonAnnule);
      }
      i++;

      var br = document.createElement("br");
      var lastDate = document.getElementById("datetime" + i.toString());
      var lastNPlaces = document.getElementById("nPlaces" + i.toString());

      var datePick = document.createElement("div");
      datePick.setAttribute("class", "input-group date");
      datePick.setAttribute("id", "datetimepicker2" + i.toString());

      var iconDate = document.createElement("input");
      iconDate.setAttribute("type", "form-control");
      iconDate.setAttribute("name", "datetime" + i.toString());
      iconDate.setAttribute("id", "datetime" + i.toString());
      var span1 = document.createElement("span");
      span1.setAttribute("class", "input-group-addon");
      var span2 = document.createElement("span");
      span2.setAttribute("class", "glyphicon glyphicon-calendar");
      span1.appendChild(span2);

      datePick.appendChild(iconDate);
      datePick.appendChild(span1);

      var nPlace = document.createElement("input");
      nPlace.setAttribute("type", "number");
      nPlace.setAttribute("value", "300");
      nPlace.setAttribute("id", "nPlaces" + i.toString());
      nPlace.setAttribute("name", "nPlaces" + i.toString());
      nPlace.setAttribute("min", "0");
      nPlace.setAttribute("max", "500");

      var nom = document.createElement("label");
      nom.setAttribute("id", "label" + i.toString());
      nom.innerHTML = " - Places";

      var buttonA = document.createElement("input");
      buttonA.setAttribute("type", "button");
      buttonA.setAttribute("name", "annule"+ i.toString());
      buttonA.setAttribute("id", "annule"+ i.toString());
      buttonA.setAttribute("value", "Annuler");
      buttonA.setAttribute("onclick","removeOneDate("+i.toString()+")");


      document.getElementById("groupe").appendChild(datePick);
      document.getElementById("groupe").appendChild(nPlace);
      document.getElementById("groupe").appendChild(nom);
      document.getElementById("groupe").appendChild(buttonA);
      document.getElementById("groupe").appendChild(br);

      if (lastDate) {
        inputDate.setAttribute("value", lastDate.value);
      }
      if (lastNPlaces) {
        nPlace.setAttribute("value", lastNPlaces.value);
      }

      var t = 0;
      for(t=0; t<=i; t++) {
        var nom = "#datetimepicker2"+t.toString()
        $(nom).datetimepicker({
          locale: 'fr'
        });
      }
    }

    function removeOneDate(i) {
      if(i < 0) {
        document.getElementById("groupe").innerHTML = "";
        $('#boutonAnnule').remove();
        init(0);
      } else if (i >= 0) {
        var place = "#nPlaces"+ i.toString();
        var datepicker = "#datetimepicker2"+ i.toString();
        var labelo = "#label"+ i.toString();
        var annullade = "#annule"+ i.toString();
        $(place).remove();
        $(datepicker).remove();
        $(labelo).remove();
        $(annullade).remove();
      }
    }



    function validateForm(){
      console.log("hey les amis");
      return true;
    }

    function componentToHex(c) {
      var hex = c.toString(16);
      return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
      return componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    function createColorBase(id, reader){
      console.log('YO image : ', id, reader.result);
      var img = new Image();
      img.src = reader.result;
      var c = colorThief.getColor(img);
      var p = colorThief.getPalette(img);
      uploadColor(id,c,0);
      for(j=0; j<9; j++){
        uploadColor(id,p[j],0);
      }
    }

    function uploadColor(id,color,bool) {
      var hex = rgbToHex(color[0],color[1],color[2]);
      console.log(hex)
      url2 = "/api/uploadColor/"+id+"/"+hex+"/"+bool+"/";
      console.log("url : ",url2);
      $.ajax({
        url: "/api/uploadColor/"+id+"/"+hex+"/"+bool+"/",
        type: "POST",
        success: function(data) {
          console.log("c'est tout bon");
        },
        error: function() {
          console.log("merdo");
        }
      });
    }

    $(document).ready(function() {

      var urls = [];
      {%for photo in photoss%}
        urls.push('{{photo}}');
      {%endfor%}
      var uploadPath = "/api/uploadFile/";
      console.log("Test");
      var nomSpectacleURL = encodeURI("{{spectacle.nom}}");
      console.log(nomSpectacleURL);
      var filenames = [];
      var file_name = "";



      $("#input-file").fileinput({
        initialPreview: [ {%for i in range(photos|length)%}'{{photos[i].path}}'{%if i != photos|length-1%},{%endif%} {%endfor%}],
        initialPreviewAsData: true,
        initialPreviewFileType: 'image',
        showDrag : true,
        initialPreviewConfig: [
          {%for i in range(photos|length)%}
          {caption:'{{photos[i].path|nameFromPath}}', size: {{photos[i].size}}, filename:'{{photos[i].path|nameFromPath}}',url:'/api/deleteFile/{{spectacle.nom}}/{{photos[i].path|nameFromPath}}',key: {{i}} }{%if i != paths|length-1%},{%endif%}
          {%endfor%}
        ],
        deleteUrl:'/api/deleteFile/{{spectacle.nom}}/{filename}',
        uploadUrl: "/api/uploadFile/"+nomSpectacleURL+'/',
        overwriteInitial: false,
        maxFileSize: 1000,
        allowedFileExtensions: ["jpg","png","gif"]
      }).on('filebeforedelete', function() {
        var aborted = !window.confirm('Êtes-vous sûr de vouloir supprimer cette photo ?');
        return aborted;

      }).on('filedeleted', function() {
        setTimeout(function() {
            window.alert('Suppression réussie ! ');
        });
    });
    });



    $('#guillotine').on('shown.bs.modal', function () {
      $('#guillotine').trigger('focus')
    })

  function nameFromPath(path){
    name = path.substr(path.lastIndexOf('/') + 1);
    return name
  }

  function addGuillotine(path,id){
      console.log("Crop ",path)

          var picture = $("#photo_to_crop");
          picture.attr("src",path);
          picture.guillotine({width: 1000, height: 600});
          $('#guillotine').modal()
          $('#zoom-in').click(function(){
          picture.guillotine('zoomIn');
          });
          $('#zoom-out').click(function(){
          picture.guillotine('zoomOut');
          });
          $('#save').click(function(){
            dataG =  picture.guillotine("getData");
            $.ajax({
              type:"POST",
              url: "/api/crop/{{spectacle.nom}}/"+id+'/',
              data : dataG
            });
          });

    }



</script>


{% endblock %}

{% block title %}Modification spectacle{% endblock %}

{% block content %}
<div class="container-fluid">
  <p>Bienvenue sur la page de modification/création de spectacle : </p>
  <p>{{spectacle.nom}}</p>

  <label for="input-file">Photos:</label>
  <div class="file-loading">
      <input id="input-file" name="photos" type="file" multiple>
  </div>

  <label for="photos-ordre">Ordre des photos (la première sera celle utilisée pour l'acceuil!):</label>
  <div id="photos-ordre" class="list-group">
      {%for photo in photos%}
      <div id="{{photo.id}}"class="list-group-item"><img id="photo_{{photo.id}}"src="{{photo.path}}" style="height:50px"> {{photo.path|nameFromPath}}
          <button type='button'class="btn btn-primary" onclick="addGuillotine('{{photo.path}}',{{photo.id}})">Recadrer</button>
      </div>
      {%endfor%}
  </div>

  <script>
    var el = document.getElementById('photos-ordre');
    var sortable = new Sortable(el, {
      onUpdate: function(evt){
        console.log(evt.item.id);
        console.log(evt.oldIndex,' -> ',evt.newIndex);
        $.ajax({
          type:"POST",
          url: "/api/changeOrder/{{spectacle.nom}}/"+evt.oldIndex+"/"+evt.newIndex+'/'
        });
      }
    });
  </script>

  <div class="modal fade" id="guillotine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recadrez votre photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <img id="photo_to_crop" src="">
        </div>
        <div class="modal-footer">
          <button id="zoom-out"type="button" class="btn btn-secondary">Dézoomer</button>
          <button id="zoom-in"type="button" class="btn btn-secondary">Zoomer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button id="save" type="button" class="btn btn-primary">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>


  <form action="" method="POST" name="formulaire"onsubmit="return validateForm()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nom du spectacle">Nom du spectacle:<abbr title="required"></abbr></label><br>
      <input type="text" id="nom" class="form-control" name="nom" value='{{spectacle.nom}}'><br>
    </div>
    <div class="form-group">
      <label for="resume">Résumé:</label><br>
      <textarea type="text" id="resume" row="4" class="form-control" name="resume" >{{spectacle.resume}}</textarea>
    </div>

    <div class="form-group">
      <label for="liens">Liens:</label><br>
      <input type="url" name="liens" class="form-control" value='{%if spectacle.liens != None%}{{spectacle.liens}}{%endif%}'><br>
    </div>

    <div class="form-group">
      <label for="directeur">Par:</label><br>
      <input type="text" name="directeur" class="form-control" value='{{spectacle.directeur}}'><br>
    </div>

    <div class="form-group">
      <label for="auteur">Auteur:</label><br>
      <input type="text" name="auteur" class="form-control" value='{{spectacle.auteur}}'><br>
    </div>

    <div class="form-group">
      <label for="participants">Avec:</label><br>
      <input type="text" name="participants" class="form-control" value='{{spectacle.participants}}'><br>
    </div>

    <div class="form-group">
      <label for="typeSpectacle">Genre:</label><br>
      <select type="text" name="typeSpectacle" class="form-control" value='{{spectacle.typeSpectacle}}'>
        <option value="Théâtre">Théâtre</option>
        <option value="Musique">Musique</option>
        <option value="Danse">Danse</option>
        <option value="Impro">Impro</option>
        <option value="Conférence">Conférence</option>
        <option value="Cirque">Cirque</option>
        <option value="Performance">Performance</option>
        <option value="Autre">Autre</option>
      </select><br>
    </div>

    <div class="form-group">
      <label for="duree">Durée (en minutes):</label><br>
      <input type="number" name="duree" class="form-control" value='{{spectacle.duree}}'><br>
    </div>

    <div class="form-group">
      <label for="tarif">Tarif:</label><br>
      <input type="number" name="tarif" class="form-control" value='{{spectacle.tarif}}'><br>
    </div>

    <div class="form-group">
      <label for="infoComplementaire">Info complémentaire:</label><br>
      <input type="text" name="infoComplementaire" class="form-control" value='{{spectacle.infoComplementaire}}'><br>
    </div>

    <div class="form-group">
      <select name="ajoutContactDB" id="ajoutContactDB">
        {%for c in contact:%}
        <option value="{{c.id}}">{{c.nom}} {{c.prenom}} {{c.annee}}{{c.depart}}</option>
        {%endfor%}
      </select>
      <button type="button" id="addContactbutton" onclick="addNewContact();" name="addContactbutton">Ajouter Contact</button>
      <br>
      <br>
      <div id="contact"></div>
    </div>
    <br>

    <div>
      <div id='annule'>
        <label for="dates">Dates :  </label>
        <button type="button" id="addDate" onclick="addOneDate()" name="addDate" valur="addDate">Add</button>
      </div>
      <br>
      <div>
        <div id='annule'>
          <label for="dates">Dates :  </label>
          <button type="button" id="addDate" onclick="addOneDate()" name="addDate" valur="addDate">Add</button>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class='col-sm-3'>
              <div class="form-group">
                <div id='groupe'>
                  {%for date in dates:%}
                    <div class='input-group date' id='datetimepicker2{{loop.index}}'>
                      <input type='text' class="form-control" value="{{date.date}}" id="datetime{{loop.index}}" name="datetime{{loop.index}}">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                    <input type="number" value="{{date.placesRestantes}}" id="nPlaces{{loop.index}}" name="nPlaces{{loop.index}}" min="0" max="500">
                    <label for="place" id="label{{loop.index}}"> - Places </label>
                    <input type="button" value="Annuler" id="annule{{loop.index}}" name="annule{{loop.index}}" onclick="removeOneDate({{loop.index}})">
                    <br>
                    <script type="text/javascript">
                      $(function () {
                        $('#datetimepicker2{{loop.index}}').datetimepicker({
                          locale: 'fr'
                        });
                      });
                    });
                  </script>
                {%endfor%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <br><br>
      <button name="button" id="valide" value="valider" type="valide" }>Valider</button>
    </div>

  {% endblock %}
