<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">



  <!-- Bootstrap core CSS -->
  <link href="../static/boot4/css/bootstrap.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="../static/styles/navbar.css" rel="stylesheet">
  <title>{{spectacle.nom.upper()}}</title>

</head>

<body>

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand bg-light navbar-light fixed-top ">
      <a class="navbar-brand" href="#"><img src="../static/styles/logo_insa.png" style="height: 40px;" alt="logo"></a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendrier">Calendrier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panier">Panier</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>

      </div>
    </nav>
  </header>


  <p><a href="/">Acceuil</a></p>
  <p>SPECTACLE {{spectacle.nom}} </p>
  <p>Résumé : </p>
  <p>{{spectacle.resume}}</p>
  <p>Administrateur à contacter : {{spectacle.admin}}</p>

  <form action="" method="POST">
    <p> Quelles dates souhaitez vous réserver ?</p>
    <p> Date Places Restantes </p>
    <ul>
      {%for date in dates %}
      <li>{{date.date}} {{date.placesRestantes}}
        <input type="number" id="places" name="{{date.date}}" min="0" max="{{date.placesRestantes}}"> </li>

      {% endfor %}
      <ul>
        <button name="submit" value="valider" type="submit">Valider</button> {%if session.admin == 'true' and session.pseudo == spectacle.admin%}
        <button name="submit" value="modify" type="submit">Modifier</button> {%endif%}
        <br></br>
        {%for url in paths%}
        <img src="{{url}}" width=500 alt="Flowers in Chania"><br> {%endfor%}
  </form>



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="static/assets/js/vendor/jquery.min.js"><\/script>')
  </script>
  <script src="static/boot4/js/bootstrap.min.js"></script>
</body>

</html>
