<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <title>{{spectacle.nom.upper()}}</title>
</head>

<body>

  <p>SPECTACLE {{spectacle.nom}} </p>
  <p>Résumé : </p>
  <p>{{spectacle.resume}}</p>

  <form action="" method="POST">
      <p> Quelles dates souhaitez vous réserver ?</p>
      <p> Date      Places Restantes </p>
      <ul>
        {%for date in dates %}
          <li>{{date.date}}    {{date.placesRestantes}}
            <input type="number" id="places" name="{{date.date}}" min="0" max="{{dates.placesRestantes}}"> </li>

        {% endfor %}
      <ul>
      <button name="submit" value="valider" type="submit">Valider</button>

      {%if session.admin == 'true'%}
        <button name="submit" value="modify" type="submit">Modifier</button>
      {%endif%}
      <br></br>
      {%for url in paths%}
        <img src="{{url}}" width=500 alt="Flowers in Chania"><br>
      {%endfor%}
  </form>

</body>

</html>
