body {
  padding-top: 80px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

super-small {
    font-size: 5px;
}

:root {
  height: 100%;
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.card {
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#footer {
  flex: 0 0 50px;
  width: 100%;
  bottom: 0px;
  position: relative;
  padding-top: 3rem;
  margin-top: auto;
  background-color: #e3e4e4;
  color: #87888a;
  margin-bottom: 0;
}

.row{
  margin:0px;
  padding:2%;
}

.row-eq-height {
  margin: 0px;
  padding: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.card-resume{
  text-align: justify;
  text-justify: inter-character;
}

.card-participants{
  font-size: 90%;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-img-top-pers {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-columns .card {
  margin-bottom: .75rem;
  margin-left: .100rem;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}
