body {
  padding-top: 80px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family:lato;
}

.navbar-custom{
  background-color: var(--color-theme);
  color: var(--color-font);
  font-family:Lato;
  padding-top:1px;
  padding-bottom:3px;
}

.navbar-nav li a{
  color: var(--color-font);
  font-family:Lato;
  font-size:110%;
  margin-left: 30px;
  margin-right:40px;
}

.logoInsa{
  height: 30px;
}

super-small {
    font-size: 5px;
}

:root {
  height: 100%;
  --color-theme: rgb(50,50,50);
  --color-font: rgb(240,240,240);
  --jumbotron-padding-y: 3rem;

}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}


.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


#footer {
  flex: 0 0 50px;
  width: 100%;
  bottom: 0px;
  position: relative;
  padding-top: 3rem;
  margin-top: auto;
  background-color: #e3e4e4;
  color: #87888a;
  margin-bottom: 0;
}

.row{
  margin:0px;
  padding:2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='card'] {
  display: flex;
  flex-direction: column;
}


footer p {
  margin-bottom: .25rem;
}

.btn{
  border-radius: 0px;
}

.form-control{
  border-radius : 0px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



.card-columns .card {
  margin-bottom: .75rem;
  margin-left: .100rem;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}
