/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body >.footer {
  position: relative;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #e3e4e4;
    color: #87888a;
    margin-bottom: 0;
}
